@using Stimulsoft.Report.Web
@using Stimulsoft.Report.Mvc
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@Html.ActionLink("Print Report", "PrintReport")
@Html.ActionLink("Export Report", "ExportReport")
